// .btn-primary, .bg-primary {
// 	background-color: #337ab7;
// }
// hr, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
//     border-color: #337ab7;
//     background-color: #666;
// }
// .navbar-default.affix .navbar-header .navbar-brand,
// .navbar-default.affix .nav > li>a:hover, .navbar-default.affix .nav>li>a:focus:hover,
// .navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus {
// 	color: #337ab7 !important;
// }
// .text-primary {
//     color: #337ab7;
// }
// a {
// 	color: #337ab7;
// 	text-decoration: none;
// }
// a:hover, a:focus{
// 	color: #666;
// 	text-decoration: none;
// }
.portfolio-box .portfolio-box-caption:hover {
	background: #337ab7;
	opacity: .9;
}
.portfolio-box {
	border: 1px solid #337ab7;
	margin-bottom: 20px;
	height: 268.516px;
    overflow: hidden;
}
// .modal .carousel {
//   position: absolute;
// }
.citacao-site{
	font-size: 0.7em;
}
// .text-white{
// 	color: #fff;
// }
// a:hover.text-white {
// 	color: #fff;
// 	text-decoration: underline;
// }
// .dot{
//     font-size: 0.7em;
//     margin-left: -0.35em;
// }

// .call-to-action {
//     height: 50px;
// }

.text-faded {
    font-size: 1.4rem;
    text-align: justify;
}